:root {
    --header-color: #3498db;
    --header-subcolor: #5870D6;
    --footer-color: #707070;
    --header-smog: linear-gradient(90deg, rgba(88,112,214,1) 0%, rgba(88,112,214,0) 15%, rgba(88,112,214,0) 85%, rgba(88,112,214,1) 100%);
    --shadow-color: #00000044;
    --ok-color: #6FE673;
    --ok-pressed: #5ec561;
    --font: 'Helvetica Neue', sans-serif;
    --text-color: #505050;
    --subtext-color: #909090;
    --background-color: white;
    --subbackground-color: #eee;
}
body {
    margin: 0;
    display: flex;
    font-family: var(--font);
    background-color: var(--background-color);
    overflow-y: hidden;
}
header {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    flex-direction: column;
    background-color: var(--header-color);
    padding: 20px;
    box-shadow: var(--shadow-color) 5px 0px 8px;
}
.spacer {
    margin-right: 290px;
}
header>.logo {
    margin-top: 40px;
}
.navigation {
    padding: 20px;
    color: white;
    font-size: 22px;
    /* flex-shrink: 0; */
    /* display: flex; */
    display: grid;
    grid-auto-flow: row;
    /* flex-direction: column; */
}
.navigation>a {
    text-decoration: none;
}
.nav-item {
    padding: 10px 20px;
    padding-left: 10px;
    transition: transform 0.1s 0s ease-in-out;
    white-space: nowrap;
}
.nav-item.current {
    font-weight: 800;
    font-size: 32px;
}
.nav-item:hover {
    transform: scale(1.2) translateX(10%);
}
.nav-item.current {
    transform: scale(1) translateX(0);
}
.content {
    height: 100%;
    width: 100%;
    position: relative;
}
footer {
    position: relative;
    width: 100%;
    background-color: var(--footer-color);
    --text-color: white;
    --subtext-color: #d6d6d6;
    display: flex;
    align-items: center;
    font-size: 24px;
}
footer>.logo {
    margin: 20px;
    margin-top: 40px;
    height: 100px;
}
.text-thin {
    color: var(--subtext-color);
    font-family: var(--font);
    font-weight: 300;
}
.text-bold {
    color: var(--text-color);
    font-family: var(--font);
    font-weight: 650;
}
.text-bold>a {
    text-decoration: none;
}
.copyright {
    color: var(--text-color);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    font-size: 16px;
}
.footer-textbox {
    display: flex;
    flex-direction: column;
    margin: 18px;
}
.footer-contact {
    font-size: 20px;
}
a {
    color: inherit;
}
.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 5% 20px 5%;
}
.grid-item {
    width: 90%;
    margin: 5%;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}
.grid-item::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow-color) 3px 3px 20px 3px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.grid-item:hover::before {
    opacity: 1;
}
.item-image {
    width: 60%;
    margin: 10% 20% 10px;
    border-radius: 20px;
}
.grid-item>.text-bold {
    font-size: 32px;
    text-align: center;
    /* margin: 0 10%; */
}
.grid-item>.text-thin {
    font-size: 20px;
    margin: 5px 10%;
}
.item-price {
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin: 10%;
    bottom: 0;
    right: 0;
}
.prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.price {
    font-size: 24px;
    font-weight: 600;
    margin: 0 10px;
}
.old-price {
    text-decoration: line-through;
    color: var(--subtext-color);
    font-size: 20px;
    margin: 0 10px;
}
.item-button {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    background-color: var(--ok-color);
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    padding: 0px 20px;
    color: white;
    font-family: var(--font);
    font-size: 24px;
    font-weight: 600;
    box-shadow: #00000044 3px 3px 10px;
}
.item-button:active {
    background-color: var(--ok-pressed);
}
.print-message {
    display: none;
    font-family:  var(--font);
    font-size: 24px;
}
.category-title {
    font-family: var(--font);
    color: var(--text-color);
    font-size: 42px;
    margin: 0 5%;
    padding-top: 10px;
    border-top: 3px solid var(--subtext-color);
}
.category-title:first-of-type {
    border: none;
}
.nav-scroll {
    transition: transform 0.2s;
    transform: scale(1) translateY(0);
    /* iOS support for inertial scrolling */
    -webkit-overflow-scrolling: touch;
}
.nav-shade {
    display: none;
    width: 100vw;
    position: fixed;
    background: var(--header-smog);
    font-size: 32px;
    z-index: 2;
    height: 1em;
    padding: 10px 0;
    pointer-events: none;
}

/* Cart */

#cart {
    width: 300px;
    height: 500px;
    margin: 2%;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background-color: var(--header-color);
    box-shadow: var(--shadow-color) 3px 3px 20px 3px;
    z-index: 40;
    overflow: hidden;
    transform: translateY(calc(80px + 5vh));
    /* Yeah, I know I shouldn't animate width and height for performance reasons, yet still */
    transition: width 0.2s 0s ease-in, 
                height 0.2s 0s ease-in,
                border 0.2s 0s ease-in,
                transform 0.4s 1s cubic-bezier(0,0,.26,1.55);
}
#cart.hidden {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
#cart.surfaced {
    transform: translateY(0);
}
.cart-img {
    filter: invert();
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.cart-title {
    margin: 10px;
    margin-left: 80px;
    line-height: 80px;
    font-family: var(--font);
    font-size: 28px;
    color: white;
}
.cart-divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
}
.cart-items {
    width: 100%;
    height: 419px;
    overflow-y: scroll;
    background-color: var(--background-color);
}
#cart-button {
    position: absolute;
    outline: 0;
    right: 0;
    bottom: 0;
    appearance: none;
    margin: 20px;
    font-family: var(--font);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: calc((20px + 1em) / 2);
    border: none;
    box-shadow: var(--shadow-color) 3px 3px 20px 3px;
    background-color: #990099;
    color: white;
}
#cart-button:active {
    background-color: #810181;
}
#cart-button:disabled {
    background-color: #b6b6b6;
}
#cart-button.hidden {
    display: none;
}
.cart-spacer {
    margin: 80px;
}
#cart-noitems {
    margin-top: 40px;
    color: var(--text-color);
    font-family: var(--font);
    font-size: 28px;
    width: 100%;
    text-align: center;
}
#cart-noitems.hidden {
    display: none;
}
#cart-column.hidden {
    opacity: 0;
    transition: opacity 0s 0s ease-in;
}
#cart-column {
    opacity: 1;
    transition: opacity 0.2s 0.1s ease-in;
}
.cart-header-spacer {
    margin-top: 0px;
}
#cart-total {
    font-family: var(--font);
    font-size: 28px;
    color: var(--subtext-color);
    width: 100%;
    margin: 20px 0;
    text-align: center;
}
#cart-total.hidden {
    display: none;
}
#cart-total.disabled {
    color: #b6b6b6;
}
#cart-dimmer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--shadow-color);
    opacity: 1;
    top: 0;
    left: 0;
    transition: opacity 0.2s 0s ease-in;
    z-index: 30;
}
#cart-dimmer.hidden {
    opacity: 0;
    pointer-events: none;
}
#cart-list {
    display: grid;
    grid-column-template: 80px auto auto auto;
}
.cart-button-spacer {
    margin-top: 84px;
}
.cart-item-image {
    grid-column: 1;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 5px;
    align-self: center;
}
.cart-item-name {
    grid-column: 2;
    color: var(--text-color);
    font-family: var(--font);
    font-size: 20px;
    padding: 10px;
    align-self: center;
}
.cart-item-input {
    grid-column: 3;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background-color: var(--subbackground-color);
    /* height: 1em; */
    padding: 10px;
    width: 60px;
    -moz-appearance: textfield;
    margin: 0; 
    color: var(--text-color);
    font-family: var(--font);
    font-size: 20px;
    border-radius: 5px;
    align-self: center;
}
.cart-item-input::-webkit-inner-spin-button, 
.cart-item-input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
.cart-item-button {
    outline: 0;
    text-align: start;
    appearance: none;
    border: none;
    display: block;
    padding: 0;
    grid-column: 4;
    width: 35px;
    height: 35px;
    border-radius: 17.5px;
    align-self: center;
    margin: 10px;
    position: relative;
    background-color: #dd4242;
}
.cart-item-button::before {
    opacity: 0;
    background-color: #c73434;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    transition: opacity 0.1s 0s ease-in;
}
.cart-item-button:active::before {
    opacity: 1;
}
.cart-item-button::after {
    position: absolute;
    top:0;
    border-radius: 50%;
    opacity: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    box-shadow: var(--shadow-color) 0px 0px 10px 3px;
    transition: opacity 0.2s 0s ease-in;
}
.cart-item-button:hover::after {
    opacity: 1;
}
.cart-item-arrow {
    pointer-events: none;
    width: 20px;
    height: 4px;
    top: 0;
    border-radius: 2px;
    background-color: white;
    position: absolute;
}
.cart-left {
    transform: translate(7.5px, 16px) rotate(45deg);
}
.cart-right {
    transform: translate(7.5px, 16px) rotate(-45deg);
}

@media (max-width: 980px) {
    footer {
        flex-direction: column;
    }
    body {
        flex-direction: column;
    }
    header {
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 1;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-top: 10px;
    }
    header>.logo {
        height: 50px;
        margin: 0;
    }
    .nav-scroll {
        overflow-y: scroll;
        width: 100%;
        background-color: var(--header-subcolor);
    }
    .navigation {
        align-items: center;
        grid-auto-flow: column;
        margin: 0;
        padding: 0;
        padding: 10px 40px;
        background-color: var(--header-subcolor);
    }
    .nav-item {
        padding: 0 10px;;
        list-style-type: none;
    }
    .nav-item::after {
        content: "";
        border-right: solid 1px white;
        margin-left: 20px;
    }
    .nav-item:hover {
        transform: scale(1) translateX(0);
    }
    .nav-item:last-child::after {
        border: none;
    }
    .content {
        overflow-x: visible;
        height: auto;
    }
    /* .nav-scroll::before{
        font-size: 32px;
        z-index: 2;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 1em;
        padding: 10px;
        pointer-events: none;
        background: var(--header-smog);
    } */
    .nav-shade {
        display: block;
        top: 60px;
    }
    .spacer {
        display: block;
        margin: 0;
        margin-top: 119px;
    }
    @media (max-height: 700px) {
        header>.logo {
            display: none;
        }
        header {
            padding: 0;
        }
        .navigation {
            font-size: 18px;
            padding: 7px;
        }
        .nav-shade {
            display: block;
            top: 0;
        }
        .spacer {
            display: block;
            margin: 0;
            margin-top: 53px;
        }
        .nav-scroll:hover {
            /* On really small devices enlarge nav scroller */
            transform: scale(1.2) translateY(5px);
        }
    }
}


@media print {
    .item-button{
        display: none;
    }
    .content-grid {
        /* Make content appear a bit more condensed on papar than on webpage */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .grid-item {
        margin: 0;
        width: 100%;
        border-radius: 0;
        border: 1px solid #ccc;
        /* I don't know why, but it still cuts through the grid-item elements while printing */
        page-break-inside: avoid;
    }
    .grid-item::before {
        display: none;
    }
    header {
        display: none;
        position: absolute;
    }
    .spacer {
        display: none;
    }
    .logo {
        /* white logo on white paper don't mixup very well */
        filter: invert();
    }
    .print-message {
        display: inline;
    }
    :root {
        /* Make sure we are printing in light mode */
        --header-color: #3498db;
        --header-subcolor: #5870D6;
        --footer-color: #fff;
        --header-smog: linear-gradient(90deg, rgba(88,112,214,1) 0%, rgba(88,112,214,0) 15%, rgba(88,112,214,0) 85%, rgba(88,112,214,1) 100%);
        --shadow-color: #00000044;
        --ok-color: #6FE673;
        --ok-pressed: #5ec561;
        --text-color: #505050;
        --subtext-color: #909090;
        --background-color: #fff;
        --subbackgorund-color: #eee;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-color: #4A6488;
        --header-subcolor: #223C5B;
        --footer-color: #091C32;
        --header-smog: linear-gradient(90deg, rgba(34,60,91,1) 0%, rgba(34,60,91,0) 15%, rgba(34,60,91,0) 85%, rgba(34,60,91,1) 100%);
        /* Making shadows darker */
        --shadow-color: #00000088;
        --ok-color: #64cf68;
        --ok-pressed: #55b158;
        --text-color: #d8d8d8;
        --subtext-color: #c2c2c2;
        --background-color: #293045;
        --subbackground-color: #091C32;
    }
}