:root {
    --header-color: #3498db;
    --header-subcolor: #5870D6;
    --footer-color: #707070;
    --footer-smog: linear-gradient(90deg, rgba(88,112,214,1) 0%, rgba(88,112,214,0) 15%, rgba(88,112,214,0) 85%, rgba(88,112,214,1) 100%);
    --shadow-color: #00000044;
    --ok-color: #6FE673;
    --font: 'Helvetica Neue', sans-serif;
    --text-color: #505050;
    --subtext-color: #909090;
    --background-color: white;
}
body {
    margin: 0;
    display: flex;
    font-family: var(--font);
    background-color: var(--background-color);
}
header {
    display: flex;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    flex-direction: column;
    background-color: var(--header-color);
    padding: 20px;
    box-shadow: var(--shadow-color) 5px 0px 8px;
}
.spacer {
    margin-right: 290px;
}
header>.logo {
    margin-top: 40px;
}
.navigation {
    padding: 20px;
    color: white;
    font-size: 22px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.navigation>a {
    text-decoration: none;
}
.nav-item {
    padding: 10px 20px;
    padding-left: 10px;
    transition: transform 0.1s 0s ease-in-out;
    white-space: nowrap;
}
.nav-item.current {
    font-weight: 800;
    font-size: 32px;
}
.nav-item:hover {
    transform: scale(1.2) translateX(10%);
}
.nav-item.current {
    transform: scale(1) translateX(0);
}
.content {
    height: 100%;
    width: 100%;
    position: relative;
}
footer {
    position: relative;
    width: 100%;
    background-color: var(--footer-color);
    --text-color: white;
    --subtext-color: rgb(214, 214, 214);
    display: flex;
    align-items: center;
    font-size: 24px;
}
footer>.logo {
    margin: 20px;
    margin-top: 40px;
    height: 100px;
}
.text-thin {
    color: var(--subtext-color);
    font-family: var(--font);
    font-weight: 300;
}
.text-bold {
    color: var(--text-color);
    font-family: var(--font);
    font-weight: 650;
}
.copyright {
    color: var(--text-color);
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    font-size: 16px;
}
.footer-textbox {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.footer-contact {
    font-size: 20px;
}
a {
    color: inherit;
}
.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 2% 5%;
}
.grid-item {
    width: 90%;
    margin: 5%;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}
.grid-item::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow-color) 3px 3px 20px 3px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.grid-item:hover::before {
    opacity: 1;
}
.item-image {
    width: 60%;
    margin: 10% 20% 10px;
    border-radius: 20px;
}
.grid-item>.text-bold {
    font-size: 32px;
    margin: 0 10%;
}
.grid-item>.text-thin {
    font-size: 20px;
    margin: 5px 10%;
}
.item-price {
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin: 10%;
    bottom: 0;
    right: 0;
}
.prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.price {
    font-size: 24px;
    font-weight: 600;
    margin: 0 10px;
}
.old-price {
    text-decoration: line-through;
    color: var(--subtext-color);
    font-size: 20px;
    margin: 0 10px;
}
.item-button {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--ok-color);
    border: none;
    border-radius: 25px;
    width: 100px;
    height: 50px;
    padding: 0px 20px;
    color: white;
    font-family: var(--font);
    font-size: 24px;
    font-weight: 600;
    box-shadow: #00000044 3px 3px 10px;
}

@media (max-width: 980px) {
    footer {
        flex-direction: column;
    }
    body {
        flex-direction: column;
    }
    header {
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 1;
        align-items: center;
        justify-content: center;
        padding: 0;
        padding-top: 10px;
    }
    header>.logo {
        height: 50px;
        margin: 0;
    }
    .navigation {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin: 0;
        padding: 0;
        overflow-y: scroll;
        width: 100%;
        padding: 10px 0;
        background-color: var(--header-subcolor);
    }
    .nav-item {
        padding: 0 10px;;
        list-style-type: none;
    }
    .nav-item::after {
        content: "";
        border-right: solid 1px white;
        margin-left: 20px;
    }
    .nav-item:hover {
        transform: scale(1) translateX(0);
    }
    .nav-item:last-child::after {
        border: none;
    }
    .content {
        overflow-x: visible;
        height: auto;
    }
    .navigation::before{
        z-index: 2;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 56px;
        pointer-events: none;
        background: var(--footer-smog);
    }
    .spacer {
        display: block;
        height: 106px;
    }
}

@media (max-height: 700px) {
    header>.logo {
        display: none;
    }
    header {
        padding: 0;
    }
    .navigation {
        font-size: 18px;
        padding: 7px;
    }
    .spacer {
        height: 32px;
    }
}

@media print {
    .item-button{
        display: none;
    }
    .content-grid {
        /* Make content appear a bit more condensed on papar than on webpage */
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .grid-item {
        margin: 0;
        width: 100%;
        border-radius: 0;
        border: 1px solid #ccc;
        /* I don't know why, but it still cuts through the grid-item elements while printing */
        page-break-inside: avoid;
    }
    .grid-item::before {
        display: none;
    }
    header {
        display: none;
        position: absolute;
    }
    .spacer {
        display: none;
    }
    .logo {
        /* white logo on white paper don't mixup very well */
        filter: invert();
    }
    :root {
        /* Make sure we are printing in light mode */
        --header-color: #3498db;
        --header-subcolor: #5870D6;
        --footer-color: #fff;
        --footer-smog: linear-gradient(90deg, rgba(88,112,214,1) 0%, rgba(88,112,214,0) 15%, rgba(88,112,214,0) 85%, rgba(88,112,214,1) 100%);
        --shadow-color: #00000044;
        --ok-color: #6FE673;
        --text-color: #505050;
        --subtext-color: #909090;
        --background-color: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --header-color: #4A6488;
        --header-subcolor: #223C5B;
        --footer-color: #091C32;
        --footer-smog: linear-gradient(90deg, rgba(34,60,91,1) 0%, rgba(34,60,91,0) 15%, rgba(34,60,91,0) 85%, rgba(34,60,91,1) 100%);
        /* Making shadows darker */
        --shadow-color: #00000088;
        --ok-color: rgb(100, 207, 104);
        --text-color: #d8d8d8;
        --subtext-color: #c2c2c2;
        --background-color: #293045;
    }
}